---
import About from '../components/About.svelte';
import Experiences from '../components/Experiences.svelte';
import Footer from '../components/Footer.svelte';
import Me from '../components/Me.svelte';
import Navbar from '../components/Navbar.svelte';
import Projects from '../components/Projects.svelte';

import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Navbar />
	<main>
		<Me />
		<About />
		<Projects />
		<Experiences />
	</main>
	<Footer />
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: auto;
		margin-top: 4rem;
	}

	:global(a) {
        text-decoration: none;
        color: inherit;
	}

	:global(section) {
		margin-left: 2rem;
		margin-right: 2rem;
	}
</style>